body {
  margin: 0;
  padding: 0;
  width: 100%;


}
#root{

}



ul.nav-header{
  background-color:#63BBF2;
  white-space: nowrap;
  height: 5%;

}
li.nav-content{
  list-style-type: none;
  width: 20%;
  display: inline-block;

}
.itemList{
  padding: 5%;
  width: 50%;
  background-color: grey;
}
.item{
  list-style-type: none;
  width: 100%;
  height: 200px;
  background-color: red;
}
.item div{
  width: 25%;
}
